extends email-layout

block content
  h2 Reply to your Tweet
  p Hello, someone has replied your tweet. Please click the button below to visit the tweet and see the reply.
  +button(tweetDetailsURL, 'View Tweet →')
  p If you can't click the above button please visit #{tweetDetailsURL}
