extends layout

block content
  header
    div(class="container")
      div(class="row")
        div(class="col-md-12")
          h1(class="super-title") Twitterify
          a(href="/signup" id="landing-button-experiences" class="btn btn-lg landing-button")
            i(class="fa fa-users fa-lg" aria-hidden="true")
            span(class="landing-button-text") Join Us
          a(href="/create-tweet" id="landing-button-tour-guide" class="btn btn-lg landing-button")
            i(class="fa fa-automobile fa-lg" aria-hidden="true")
            span(class="landing-button-text") Create a Tweet
          p(class="sub-text")
            span(class="sub-inner-text") Thousands of Tweets for you to Enjoy

  section(class="container")
    div(class="form-container")
      h2(class="section-title") Featured Tweets
      div(class="row")
        each t in tweets
            div(class="col-lg-4 col-md-6 mb-4 form-footer")
              div(class="card h-100")
                div(class="card-body")
                  p(class="card-text") #{t.tweetContent}
                div(class="card-footer")
                  a(href=`/tweet/reply/${t.id}`)
                    button(class="btn btn-success icon-wrapper") Reply
                  a(href=`/tweet/${t.id}`)
                    button(class="btn btn-success icon-wrapper") View Replies



      div(class="view-experiences")
        a(href="/explore" class="btn btn-lg btn-primary") Explore Tweets