extends layout

block content
  section(class="container-fluid")
    div(class="form-container col-md-6 col-md-offset-3")
      if user.local
        h3(class="text-uppercase") Welcome  #{user.local.username}
      h1 Creat a Tweet
      form(action="/create-tweet" method="post")
        input(type="hidden" name="_csrf" value= csrfToken)
        div(class="row")
          div(class="form-group col-sm-8")
            label(for='tweet')
            textarea(class="form-control" type="text" name='tweetContent' id='tweet' placeholder="What's happening?" maxlength="200" required)
        div(form-footer form-group pull-right)
          input(class="btn btn-success" type="submit" value="Tweet")

      div(class="row")
        each t in tweets
            div(class="col-lg-4 col-md-6 mb-4 form-footer")
              div(class="card h-100")
                div(class="card-body")
                  p(class="card-text") #{t.tweetContent}
                div(class="card-footer")
                  a(href=`/tweet/reply/${t.id}`)
                    button(class="btn btn-success icon-wrapper") Reply
                  a(href=`/tweet/${t.id}`)
                    button(class="btn btn-success icon-wrapper") View Replies
        
        form.form(action="/tweet/notify" method="POST")
          input(type="hidden" name="_csrf" value= csrfToken)
          input.button(type="submit" value="Notify User")