extends layout

include mixins/_tweetInfo

block content
  section(class="container")
    div(class="form-container col-md-offset-2 col-md-8 col-xs-12")
      div(class="row")
        div(class="col-md-10 col-md-offset-1 col-xs-12")
          div(class="job-group")

      +tweetInfo('Main Tweet', tweet.tweetContent, tweet.author.local.firstName)
      each comment in tweet.comments
        +tweetInfo('Reply', comment.reply, comment.author.local.firstName)

      form(action=`/tweet/reply/${tweet.id}` method="post")
        input(type="hidden" name="_csrf" value= csrfToken)
        div(class="row")
          div(class="form-group col-sm-8")
            label(for='tweet')
            textarea(class="form-control" type="text" name='reply' id='tweet' placeholder="Enter your reply here" maxlength="200" required)
        div(form-footer form-group pull-right)
          input(class="btn btn-success" type="submit" value="Reply")